.chart-wrapper {
	padding: var(--spacing-xxlarge);
	text-align: center;
}

.chart-wrapper canvas {
	max-width: 100%;
}

.map-wrapper {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	margin-bottom: var(--spacing-large);
	border-radius: var(--border-radius-large);
}
